@media (min-width:992px) and (max-width: 1199px){
    h1{font-size: 2rem;}
    .ocultas{display: block !important;}
}
@media (min-width:1200px){
    h1{font-size: 2rem;}
    .ocultas{display: block !important;}
}
