<nav class="navbar navbar-expand-lg" style="background-color: #ee5151 !important;"
  *ngIf="(user$ | async)?.emailVerified">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="home" style="color: white;">
      <img src="../../../../assets/img/logo.png" alt="Logo" width="30" height="30"
        class="d-inline-block align-text-top">
      SUBA-AGZ APP
    </a>
    <button (mousedown)="onClickButton()" [ngClass]="{'button-clicked': isButtonClicked}" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" (click)="expandMenu()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" [class.show]="isMenuExpanded" style="visibility: visible;"
      id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item d-flex justify-content-end" style="color: gray;">
          <a class="nav-link disabled fst-italic">{{ (user$ | async)?.email }}</a>
        </li>
        <li class="nav-item text-li d-flex justify-content-end">
          <a class="nav-link" routerLink="/home"><b>Inicio</b></a>
        </li>
        <li class="nav-item text-li d-flex justify-content-end">
          <a class="nav-link" routerLink=""><b>Directos</b></a>
        </li>
        <li class="nav-item text-li d-flex justify-content-end">
          <a class="nav-link" routerLink=""><b>Gestion</b></a>
        </li>
        <li class="nav-item text-li d-flex justify-content-end">
          <a class="nav-link" routerLink="/information"><b>Mis datos</b></a>
        </li>
        <li class="nav-item text-li d-flex justify-content-end">
          <a class="nav-link" routerLink=""><b>Mis pujas</b></a>
        </li>
        <li class="nav-item text-li d-flex justify-content-end">
          <a type="button" class="nav-link d-flex" (click)="onLogout()"><b>Salir</b>
            <svg width="16" height="16" fill="currentColor" class="ml-2 bi bi-door-closed-fill mr-2" viewBox="0 0 16 16"
              style="margin-top:0.1rem;">
              <path
                d="M12 1a1 1 0 0 1 1 1v13h1.5a.5.5 0 0 1 0 1h-13a.5.5 0 0 1 0-1H3V2a1 1 0 0 1 1-1h8zm-2 9a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
            </svg></a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<!-- <pre>{{user$ | async | json}}</pre> -->