@media (min-width: 0px) and (max-width: 576px) {
    .section1{margin-top: 2rem; width: 100%; display: flex; align-items: center; justify-content: center;}
}
@media (min-width: 577px) and (max-width: 767px) {
.section1{margin-top: 2rem; width: 100%; display: flex; align-items: center; justify-content: center;}
}
@media (min-width: 768px) and (max-width: 991px) {
.section1{margin-top: 2rem; width: 100%; display: flex; align-items: center; justify-content: center;}
}
@media (min-width:992px) and (max-width: 1199px) {
    .separador{margin-top: 2rem}
.section1{margin-top: 2rem; width: 100%; display: flex; align-items: center; justify-content: center;}
}
@media (min-width: 1200px) {
    .separador{margin-top: 2rem}
.section1{margin-top: 2rem; width: 100%; display: flex; align-items: center; justify-content: center;}
}