@media (min-width: 0px) and (max-width: 576px) {

}

@media (min-width: 577px) and (max-width: 767px) {
    .contenedor{ width: 100%; display: flex; align-items: center; justify-content: center;}
    .jumbotron{ width: 70%;}
}
@media (min-width: 768px) and (max-width: 991px) {
    .contenedor{ width: 100%; display: flex; align-items: center; justify-content: center;}
    .jumbotron{ width: 70%;}
}
@media (min-width:992px) and (max-width: 1199px) {
    .contenedor{ width: 100%; display: flex; align-items: center; justify-content: center;}
    .jumbotron{ width: 60%;}

}
@media (min-width: 1200px) {
    .contenedor{ width: 100%; display: flex; align-items: center; justify-content: center;}
    .jumbotron{ width: 60%;}
}